*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
body{
  background: #98876f;
  height: 100vh;
}
/* header */
header{
  background: lightblue;
  position: relative;
  height: 25%;
  width: 60%;
  margin: auto;
  margin-top: 10px;
  border: solid 3px white;
}
h1{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* blocco navbar */
.navbar{
  width: 60%;
  margin: auto;
  background: grey;
  text-align: center;
}

li{
  display: inline-block;
  padding: 2%;
}
/* blocco principale */
.bloccoprinc{
  width: 60%;
  margin: auto;
}
.bloccoprinc:after{
  content: "";
  display: table;
  clear: both;
}
.primacol{
  background: white;
  width: 15%;
  float: left;
  border-radius: 1%;
  margin: 1% 0%;
  padding: 2%;
}
.secondacol{
  background: white;
  width: 60%;
  float: left;
  border-radius: 1%;
  margin: 1% 5%;
  padding: 2%;
}
#font{
  font-size: 20px;
}
.terzacol{
  background: white;
  width: 15%;
  float: left;
  border-radius: 1%;
  margin: 1% 0%;
  padding: 2%;
}
.margin{
  margin: 50% 0%;
}
/* blocco footer */
.footer{
  width: 60%;
  margin: auto;
  margin-bottom: 1px;
  background: white;
  color: #777;
  padding: 1%;
  text-align: center;
}
.social{
  width: 60%;
  height: 80px;
  margin: auto;
  background: white;
}
